{% extends "blog/base.html" %} 

{% block content %} 

<div class="media content-section">
    <div class="media-body">
        <div class="aritcle-metadata border-bottom py-1">
            <a class="mr-2" href="{% 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">posted on {{ post.date_posted | date:"M d Y"}}</small>
            {% if post.author == user %}
                <span class="">
                    <a href="{% url 'post-update' post.pk %}" class="text-info">
                        <small>Update</small>
                    </a>
                    <a href="{% url 'post-delete' post.pk %}" class="text-danger">
                        <small>Delete</small>
                    </a>    
                </span>
            {% endif %}
        </div>
        <h2 class="article-title mt-2">{{ post.title }}</h2>
        <p class="aritcle-content"> {{ post.content }}</p>
    </div>
</div>

{% endblock %}